################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。                 #
################################################################################
/little-game.server.servers/.vs
/little-game.server.class/.vs
/little-game.server.servers/x64
/little-game.server.class/x64
/little-game.server.launcher/.vs
/little-game.server.launcher/x64
/little-game.client.wpf/.vs
/little-game.client.wpf/bin
/little-game.client.wpf/obj
/little-game.client.win32/.vs
/little-game.server.launcher/little-game.server.servers.dll
/little-game.server.launcher/little-game.server.servers.lib
